make_building_folders.sh
make_panorama_folders.sh
assets\panoramas\Faculty_of_Education_and_Liberal_Studies\HEIC
assets\buildings\Faculty_of_Education_and_Liberal_Studies\HEIC
assets\buildings\Faculty_of_Education_and_Liberal_Studies\compressed.zip
assets\panoramas\Faculty_of_Education_and_Liberal_Studies\Picflow Images Apr 23.zip